#sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: start;

  top: 0px;
  left: 0px;

  height: 100vh;
  width: 96px;
  min-width: 96px;

  background-color: #bcccdc;

  #end {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 96px;
    height: 176px;

    margin-top: 48px;
    margin-bottom: 96px;
  }
}
